/* General */

.bsa-header {
  background: #dd3f3b;
  background: linear-gradient(to right, #dd3f3b, #ec5d59);
}

.sub-header {
  background: #fbfbfb;
  border-bottom: 1px solid #e2e2e2;
}

.link:hover, .link:focus {
  text-decoration: none;
}

.bsa-blue {
  border-color: #3e81cc;
  color: #3e81cc;
}

.bsa-red {
  color: #dd3f3b;
  border-color: #dd3f3b;
}

.bsa-blue-bg {
  background: #3e81cc;
  border-color: #3e81cc;
}

.button-main:hover, .button-main:focus {
  background: #3267a3;
}

.button-reverse:hover, .button-reverse:focus {
  background: #ecf2fa;
}

.settings h2 {
  border-bottom: 1px solid #e2e2e2;
}

input, select {
  background: #fff;
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
  border-radius: 3px;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 35px;
}

select {
  min-width: 12rem;
  background: #fbfbfb url("../images/sort-down.svg") no-repeat 95% 3px;
  background-size: 0.8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 13rem;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 99999999;
  margin-top: 3px;
  padding: 0.3rem 0;
  font-size: 13px;
}

.dropdown-content li a {
  color: #222;
  text-decoration: none;
  padding: 0.5rem;
  line-height: 15px;
}

.dropdown-content li a:hover, .dropdown-content li a:focus {
  background-color: #3e81cc;
  color: #fff;
}

.criteria {
  background: #e2e2e2;
  margin-bottom: 3rem;
}

.forecast-data {
  display: none;
  border-color: #e2e2e2;
}

.list {
  padding: 0;
  margin: 0;
}

.list.fa-ul {
  margin-left: 4rem;
}

.list.fa-ul li {
  margin-bottom: 0.5rem;
}

.show {
  display: block !important;
}

/* Modal */

.modal {
  border-radius: 3px;
  box-shadow: none;
  padding: 1.5rem;
  bottom: 10%;
  max-width: 450px;
}

.modal a.close-modal {
  display: none;
}

.blocker {
  background-color: rgba(0,0,0,0.5);
  padding: 0;
}

/* Multi-select menus */

.chosen-container-multi .chosen-choices {
  width: 15rem;
  box-shadow: none;
  padding: 0.4rem 1.4rem 0.1rem 0.5rem;
  background: #fff url("../images/sort-down.svg") no-repeat 97% 3px;
  background-size: 0.8rem;
  min-height: 35px;
  border-radius: 3px;
  border: 1px solid #e2e2e2;
}

.chosen-container-multi .chosen-choices li.search-choice {
  margin: 0 3px 3px 0;
  box-shadow: none;
}

.chosen-container .chosen-drop {
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0.3rem 0;
  margin-top: 5px;
}

.chosen-container .chosen-results li {
  padding: 0.5rem;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3e81cc;
  background-image: none;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 0;
  font-family: inherit;
  height: 20px;
  min-height: 0;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: #e2e2e2 url(../images/times.svg) 50% no-repeat !important;
  width: 16px;
  height: 100%;
  background-size: 10px !important;
  border-radius: 0 3px 3px 0;
  top: 0;
  right: 0;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-color: #cbcbcb !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background: #f4f4f4;
  border-color: #e2e2e2;
}

/* Datepicker */

.Zebra_DatePicker {
  font: inherit;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.Zebra_DatePicker .dp_body .dp_selected {
  background: #3e81cc;
}

.Zebra_DatePicker .dp_body .dp_hover {
  background: #e2e2e2;
}

.Zebra_DatePicker .dp_body .dp_current {
  color: #3e81cc;
}

button.Zebra_DatePicker_Icon {
  background: url("../images/cal.svg") no-repeat center;
  height: 1.2rem;
  width: 1.2rem;
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Right {
  margin-right: 0.4rem;
}

@media (max-width: 600px) {

  html {
    font-size: 90%;
  }

  .button-reverse {
    padding: 0.4rem 0.5rem;
    margin-left: 1rem;
  }

  .button-text {
    display: none;
  }

  .button-reverse svg {
    vertical-align: middle;
    font-size: 1.2rem;
  }

  .criteria {
    padding: 0 1rem 2rem;
  }

  .criteria .flex {
    flex-direction: column;
  }

  .criteria label {
    display: block;
    margin-top: 0.5rem;
  }

  .modal {
    padding: 1.5rem;
  }

  .datepicker-start {
    margin-bottom: 0.2rem;
  }

  .settings .flex {
    align-items: left;
    flex-direction: column;
  }

  .settings .mt3 {
    margin-top: 1.5rem;
  }

  .settings label {
    margin-bottom: 0.2rem;
  }

  .forecast-data {
    margin-bottom: 2rem;
  }

  .forecast-data h2 {
    font-size: 1.75rem;
  }

  .list.fa-ul {
    margin-left: 2rem;
  }

  h1.f2 {
    font-size: 1.75rem;
  }

  .location, .date-range {
    margin-right: 0;
  }

  select {
    min-width: 100%;
  }

  .chosen-container-multi .chosen-choices {
    width: 100%;
  }

  .date-range .ph1 {
    display: block;
    padding: 0.2rem 0 0.4rem;
  }

  .date-range input {
    max-width: 100%;
    width: 100%;
  }

  .Zebra_DatePicker_Icon_Wrapper {
    width: 100%;
  }
}

@media (pointer: coarse) {

  input, select, .chosen-container {
    font-size: 16px;
  }
}
