/* General */

.bsa-header {
  background: #dd3f3b;
  background: linear-gradient(to right, #dd3f3b, #ec5d59);
}

.sub-header {
  background: #fbfbfb;
  border-bottom: 1px solid #e2e2e2; }

.link:hover, .link:focus {
  text-decoration: none;
}

.bsa-blue {
  border-color: #3e81cc;
  color: #3e81cc;
}

.bsa-red {
  color: #dd3f3b;
  border-color: #dd3f3b;
}

.bsa-blue-bg {
  background: #3e81cc;
  border-color: #3e81cc;
}

.button-main:hover, .button-main:focus {
  background: #3267a3;
}

.button-reverse:hover, .button-reverse:focus {
  background: #ecf2fa;
}

.settings h2 {
  border-bottom: 1px dotted #e2e2e2;
}

select, input, .chosen-container-multi .chosen-choices {
  background: #fbfbfb;
  border: 1px solid #e2e2e2;
  padding: 0.5rem;
  border-radius: 3px;
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  min-width: 12rem;
  background: #fbfbfb url("../images/sort-down.svg") no-repeat 95% 25%;
  background-size: 0.8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fbfbfb;
  min-width: 13rem;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 1rem;
  z-index: 99999999;
}

.criteria {
  background: #e2e2e2;
  margin-bottom: 3rem;
}

.forecast-data {
  display: none;
}

.list {
  padding: 0;
  margin: 0;
}

.list.fa-ul {
  margin-left: 4rem;
}

.list.fa-ul li {
  margin-bottom: 0.5rem;
}

.show {
  display: block !important;
}

/* Modal */

.modal {
  border-radius: 3px;
  box-shadow: none;
  padding: 1.5rem;
  bottom: 10%;
  max-width: 450px;
}

.modal a.close-modal {
  display: none;
}

.blocker {
  background-color: rgba(0,0,0,0.5);
}

/* Multi-select menus */

.chosen-container-multi .chosen-choices {
  min-width: 15rem;
  max-width: 15rem;
  box-shadow: none;
  border: none;
  padding: 0.425rem 0.5rem 0.1rem;
}

.chosen-container-multi .chosen-choices li.search-choice {
  margin: 0 5px 5px 0;
  box-shadow: none;
}

.chosen-container .chosen-drop {
  border: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 0.3rem 0;
  margin-top: 5px;
}

.chosen-container .chosen-results li {
  padding: 0.5rem;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3e81cc;
  background-image: none;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
  margin: 0;
  font-family: inherit;
  height: 18px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: #e2e2e2 url(../images/times.svg) 50% no-repeat !important;
  width: 16px;
  height: 100%;
  background-size: 10px !important;
  border-radius: 0 3px 3px 0;
  top: 0;
  right: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background: #f4f4f4;
  border-color: #e2e2e2;
}

/* Datepicker */

.Zebra_DatePicker {
  font: inherit;
  border: 1px solid #e2e2e2;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.Zebra_DatePicker .dp_body .dp_selected {
  background: #3e81cc;
}

.Zebra_DatePicker .dp_body .dp_hover {
  background: #e2e2e2;
}

button.Zebra_DatePicker_Icon {
  background: url("../images/cal.svg") no-repeat center;
  height: 1.2rem;
  width: 1.2rem;
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon_Inside_Right {
  margin-right: 0.4rem;
}
